.events-form {
    display: flex;
    justify-content: flex-end;
}

.btn-primary{
  background-color: #113a5d;
  border-color: #113a5d;
  width: 275px;
  justify-content: felx;
  border-radius: 5%

}
