.btn-medium {
  color: #c4ffdd;
  border: 1px solid #c4ffdd;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: lighter;
  // opacity: 0.6;
  background-color: transparent;
}
.btn-medium:hover {
  background-color: #c4ffdd;
  opacity: 1;
  text-decoration: none;
  color: #113a5d;
}

.btn-description {
  color: #FFEE93;
  border: 1px solid #FFEE93;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: lighter;
  // opacity: 0.6;
  background-color: transparent;
}
.btn-description:hover {
  background-color: #FFEE93;
  opacity: 1;
  text-decoration: none;
  color: #113a5d;
}

.btn-bucketlist {
  color: white;
  border: 1px solid #113a5d;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: lighter;
  // opacity: 0.6;
  background-color: #113a5d;
}
.btn-description:hover {
  background-color: #FFEE93;
  opacity: 1;
  text-decoration: none;
  color: #113a5d;
}

