.btn-medium {
  font-family: 'Roboto', sans-serif;
  color: #c4ffdd;
  border: 1px solid #c4ffdd;
  padding: 13px 20px;
  border-radius: 30px;
  font-weight: lighter;
  transition: background-color 0.5s ease 0s;
  background-color: transparent;
}
.btn-medium:hover {
  background-color: #c4ffdd;
  opacity: 1;
  text-decoration: none;
  color: #113a5d;
}

.btn-description {
  font-family: 'Roboto', sans-serif;
  color: #FFEE93;
  border: 1px solid #FFEE93;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: lighter;
  transition: background-color 0.5s ease 0s;
  background-color: transparent;
}
.btn-description:hover {
  background-color: #FFEE93;
  opacity: 1;
  text-decoration: none;
  color: #113a5d;
}

.btn-bucketlist {
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 1px solid #113a5d;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: lighter;
  // opacity: 0.6;
  background-color: #113a5d;
}
.btn-description:hover {
  background-color: #FFEE93;
  opacity: 1;
  text-decoration: none;
  color: #113a5d;
}

.btn-links {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 1px solid #113a5d;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: lighter;
    transition: background-color 0.5s ease 0s;
    background-color: #113a5d;
  }
  .btn-links:hover {
    background-color: #C4FFDD;
    opacity: 1;
    text-decoration: none;
    color: #113a5d;
    border: 1px solid #C4FFDD;

}


.btn-show {
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 1px solid #8C1C13;
  padding: 10px 15px;
  font-weight: lighter;
  transition: background-color 0.5s ease 0s;
  background-color: #8C1C13;
  font-weight: bold;
}
.btn-show:hover {
  background-color: $red;
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid $red;

}

.btn-back-search {
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 1px solid #113A5D;
  padding: 10px 15px;
  font-weight: lighter;
  transition: background-color 0.5s ease 0s;
  background-color: #113A5D;
  font-weight: bold;
}
.btn-back-search:hover {
  background-color: #5B85AA;
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid #5B85AA;

}

.btn-crud {
  padding: 12.5px;
  border-radius: 50%;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;

  &:after {
    content: "Put in your bucket";
    text-decoration: none;
    position: absolute;
    background-color: #808080eb;
    padding: 10px;
    width: 300%;
    border-radius: 18px;
    color: #fff;
    right: -330%;
    top: -140%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    background-color: #113A5D;
    &:after {
      opacity: 1;
    }
  }
}