.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.margin-top{
  margin-top: 70px;
}

.card.margin-top {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.description h1, .description p{
  text-align: center;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.center-content {
  display: flex;
  justify-content: center;
}

// .section {
//   display: flex;
//   height: 300px;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   margin-bottom: 100px;
// }

// .card {
//   width: 300px;
//   height: 300px;
//   padding: 5px;
//   margin: 10px;
//   position: relative;
//   border-radius: 7px;
//   perspective: 2000px;

//   &:hover &-front {
//     transform: rotateY(180deg);
//   }

//   &:hover &-back {
//     transform: rotateY(360deg);
//     box-shadow: 0 0 20px #5B372A;
//   }

//   &-front, &-back {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     border-radius: 7px;
//     backface-visibility: hidden;
//     transition: 0.5s;
//   }

//   &-front {
//     background-color: #9E9E9E;
//     color: #5D4037;
//   }

//   &-back {
//     background-color: #5D4037;
//     color: #FFFFFF;
//     transform: rotateY(180deg);
//   }
// }
