.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.center-content {
  display: flex;
  justify-content: center;
}

// .event-card {
//   position: relative;
//   background-color: white;
//   border-radius: 3px;
//   height: 200px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-bottom: 1px solid black;
//   padding: 20px;
//   width: 100%;
// }

// .img-card {
//   width: 300px;
//   height: 180px;
//   background-size: cover;
//   opacity: 0.7;
//   transition: all 0.2s ease;
//   flex: none;
// }

// .info {
//   flex: 1;
//   padding-left: 10px;
//   font-size: 13px;
//   margin-left: 15px;
// }

// .info .event-name {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
// }

// .detail-info {
//   color: black;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   color: white;
//   font-weight: bolder;
//   width: 100%;
// }

// .info p {
//   padding-left: 5px;
// }
