svg.event-card-action-icon.js-add-to-bookmark.icon.icon-bucket {
  height: 20px;
  width: 25px;
}

.fa-check-circle {
  font-size: 23px;
}

.info-title {
  text-align: center;
}

.detail-info {
  color: #113a5d;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  .event-date {
    margin-bottom: 0;
  }
  .text-category {
    padding-right: 4px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
  }
}
.event-card {
  position: relative;
  background-color: white;
  border-radius: 3px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding: 20px;
  width: 100%;
  a {
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: #F1F2F6;
    h3 {
      color: $gray;
      text-decoration: none;
      background-color: #FFEE93;
    }
    .img-card {
      opacity: 1;
      filter: none;
    }
  }
}

.desc {
    margin-top: 8px;
    margin-right: 20px;
}

.info h3 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  hyphens: auto;
  text-decoration: none;
  color: $gray;
  padding: 0 6px;
  transition: all 0.2s ease;
}
.cards {
  background-color: white;
  padding: 30px;
}
.cards-home {
  margin-top: 30px;
}
.img-card {
  width: 300px;
  height: 180px;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.2s ease;

  flex: none;
}
.container-card {
  padding: 0 15px;
  margin-bottom: 80px;
  margin-top: 40px;
  h1 {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 50px;
    color: $gray;
  }
}
.info {
  flex: 1;
  align-self: flex-start;
  padding-left: 10px;
  font-size: 13px;
  margin-left: 15px;
  p {
    padding-left: 5px;
  }
  span {
    &:hover {
      background-color: transparent;
    }
  }
  .event-name-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p {
      font-family: 'Roboto', sans-serif;
      flex: none;
      font-weight: bolder;
      font-size: 18px;
    }
  }
}
.wrapper-card {
  min-height: 100vh;
  h1 {

    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    margin-top: 0;
    color: $gray;
    text-transform: uppercase;

  }
}
.desc-likes {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.likes{
  a {
    flex: none;
    position: relative;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    border: 0;
    color: $red;
    left: 8px;
    p {
      margin-top: 8px;
      position: absolute;
      right: 9px;
    }
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.card-link:hover {
  opacity: 0.1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 768px) {
  .event-card {
    display: block;
    height: 100%;
    .img-card {
      width: 100%;
      opacity: 1;
    }
    .info {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.title-team {
  border-radius: 4px;
}
.title-home{
  border-radius: 4px;
}

.title-home span {
    font-family: 'Shadows Into Light', cursive;
    background-color: #FFEE93;
    padding: 5px 10px;
    font-size: 32px;
    font-weight: bolder;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-bucket {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

.cards-bucket {
  margin-top: 100px;
}

.bucket-card {
  position: relative;
  background-color: white;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding: 20px;
  width: 100%;
  a {
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: #F1F2F6;
    .img-card {
      opacity: 1;
      filter: none;
    }
  }
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}


