.arrow img {
  width: 40px;
  margin-bottom: 20px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.scroll-center {
  position: absolute;
  bottom: 10px;
}

.floating {
  animation-name: floating;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

#bucketlist {
  margin-top: 100px;
  height: 100vh;
}

