.search-list{
  margin-top: 20px;
  box-shadow: 5px 5px #113a5d;
}

form#search_form {
    display: flex;
}

.btn-info {
  background-color: #113a5d;
  border-collapse: #113a5d;
}

a{
  color: #113a5d;
}

.place-picture{
  background-size: cover;
  height: 175px;
}

#map{
  margin-top: 20px;
  box-shadow: 5px 5px #113a5d;
}
