
.red-wrapper {
   background-color: #BF4342;
 }

.steps {
  text-align: center;
  margin: 20px auto;
  max-width: 270px;
  width: 270px;

}

.front-description {
  padding: 10px;
  color: white;
}

#about {
  margin-top: 0px;
  padding: 50px;
}

.icon-team {
  border-radius: 50%;
}

.pink-wrapper {
  background-color: #C4FFDD;
}

.team-text {
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: #BF4342;
  }
}
.text-center {
  background-color: #FFEE93;
}


